logs/*
!.gitkeep
node_modules/
tmp
.idea
.DS_Store
angular-phonecat-snapshots
chromaoke.sublime-project
chromaoke.sublime-workspace
README.html
src-angular/lib/
app/

data/lyrics/
data/marten.db
data/tracks.json
bower_components/
public/javascripts/youtube-lyrics.js
