/* app css stylesheet */

body {
  padding-top: 20px;
}

.lyricbox {
  width: 600px;
  height: 30px;
  position: relative;

}

.lyric {
  float: left;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

.lyricbox-active {
  width: 600px;
  height: 30px;
  background: #6FF;

  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.lyricbox-inactive {
  width: 10px;
  height: 30px;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.vid-thumbnail {
  margin-top: 10px;
  margin-bottom: 10px;
}

p.vid-description {
  font-size: small;
}

.vid-option {
  background: #DDD;
}

.spacer {
  margin-bottom: 10px;
}