extends layout

block header
  title Karaoke - Local


block content
  h3 #{artist} - #{title}



  div.row
    div.span12
      span#ytplayer
  div.row
    div.span6
      span#lyricsbox

  div.row
    label Offset
    input(type="text" id="offset" placeholder="Currently at 0...")
    button(type="button" class="btn" onclick="updateOffset()") Update
    span.help-block Adjust the offset (in milliseconds) if the lyrics seem 'off'. If the lyrics come too soon, add some. If the lyrics come too late, subtract some.

  script(src="/javascripts/youtube-lyrics.js" type="text/javascript")
  
  != "<script type='text/javascript'>"
  != "var oLyric = " + oLyric + ";"
  != "</script>"

  script.
    var youtube_width = 640;
    var youtube_height = 480;

    receiveData( oLyric );


