extends layout

block header
  script(src="/javascripts/youtube-lyrics.js" type="text/javascript")
  //- TODO
  //- script(src="/stylesheets/style.css" type="css/stylesheet")
   
block content
  h3 #{artist} - #{title}
    div.row
      div.span5.offset1
        div#ytplayer
      div.span3.offset6
        p#lyricsbox

  //- config variables only
  script.
    var youtube_width = $(window).width();
    var youtube_height = $(window).height() * .8;
    console.log("using w/h " + youtube_width + "," + youtube_height);
