<div>
  <div id="initial-feedback" ng-hide="videoFeedback">
    <span>Right video?</span>
    <div class="btn-group" role="group">
      <button id="good" class="btn btn-success" ng-click="setRating(1)"><span class="glyphicon glyphicon-thumbs-up"></span></button>
      <button id="bad" class="btn btn-danger" ng-click="setRating(-1)"><span class="glyphicon glyphicon-thumbs-down"></span></button>
    </div>
  </div>
  <div id="thanks" ng-show="rating == 1">
    <p>Thanks!</p>
  </div>
  <div id="detailed-feedback" ng-show="rating == -1">
    <span>What's the problem?</span>
    <div class="btn-group" role="group">

      <button ng-repeat="option in FEEDBACK_OPTIONS" class="btn btn-default" ng-click="setCategory(option.category)">
        {{option.text}}
      </button>

    </div>
  </div>
  <div id="new-video" ng-show="category">
    <p>Pick another video:</p>
    <div ng-repeat="video in otherVideos">
      <img src="{{video.thumbnail}}">
      <p>{{video.description}}</p>
  </div>
</div>