<div>
  <div id="initial-feedback" ng-hide="rating">
    <span>Right video?</span>
    <div class="btn-group" role="group">
      <button id="good" class="btn btn-success" ng-click="setRating(1)"><span class="glyphicon glyphicon-thumbs-up"></span></button>
      <button id="bad" class="btn btn-danger" ng-click="setRating(-1)"><span class="glyphicon glyphicon-thumbs-down"></span></button>
    </div>
  </div>
  <div id="thanks" ng-show="rating == 1">
    <p>Thanks!</p>
  </div>
  <div id="detailed-feedback" ng-show="rating == -1 && !category">
    <span>What's the problem?</span>
    <div class="btn-group" role="group">

      <button ng-repeat="option in FEEDBACK_OPTIONS" class="btn btn-default" ng-click="setCategory(option.category)">
        {{option.text}}
      </button>

    </div>
  </div>
  <div id="new-video" ng-show="category">
    <p>Pick another video:</p>
    <div ng-repeat="video in otherVideos">
      <div class="row vid-option" ng-click="selectVideo(video); reset()">
        <div class="col-md-12">
          <img ng-src="{{video.thumbnail}}" class="thumbnail" />
          <p class="vid-description"><strong>Title:</strong> {{video.title}}</p>
          <p class="vid-description"><strong>Description:</strong> {{video.description}}</p>
        </div>
      </div>
      <div class="spacer"></div>
  </div>
</div>