extends layout

block content



  div(ng-controller="StateCtrl")

    h6(ng-show="DEBUG") app state: {{state}}

    karaoke(trackid='userAddedTrackId' ng-show='visibility.karaoke')
    .container
      .row
        .col-md-6
          include feedback
        .col-md-6
          include offset

    div(ng-controller="TrackSearchCtrl"
      ng-init="trackid= #{JSON.stringify(trackid)}")
      //- .col-md-12(ng-hide='hasSearched')

      .container
        .row
          .col-xs-12
            h1 Infinite Karaoke

            input.form-control(type="text" ng-model="searchTerms" ng-change="searchTermsUpdated()" placeholder="Search anything (artist, track, genre)..."
              ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }")

        hr.clearfix

        .row
          .col-xs-6.col-sm-3(ng-repeat="track in tracks")

            .well.well-sm.media.search-result(ng-click="pickTrack(track._id)")
              .media-left
                img.search-result-thumbnail(ng-src="{{track.thumbnail}}")
              .media-body
                h4.media-heading {{track.artist}}
                h5 {{track.title}}
                h6(ng-show="DEBUG") {{track._id}}
                p
                  i.fa.fa-star(style="{{track.lyricQualityCSS}}")
                  i.fa.fa-star(style="{{track.vidQualityCSS}}")
                  i.fa.fa-star(style="{{track.popularCSS}}")



            .row(ng-if="$index==3")

          .col-md-3(ng-if="placeholder")
            img(src="img/results-placeholder-sm.jpg")
            p Search the web for <em>{{searchTerms}}</em>...

        .row
          .col-md-8(ng-controller="ChromecastCtrl")

            button(ng-click="chromecastClick()" ng-class="buttonClass"){{buttonText}}

            div(ng-show="DEBUG")
              span {{status}}

          .col-md-4
            button.btn.btn-primary.pull-right(ng-click="moreResults()") See more results...




    .container(ng-hide="hasSearched")
      .jumbotron.clearfix
        img.pull-right(src="img/totally-not-a-stolen-stock-photo.jpg" style="height:230px;")
        h1.text-center Infinite Karaoke
        .lead
          h6 And beckons me to look through to these infinite possibilities. <em>Tool - Lateralus</em>
      .row
        .col-md-6
          h3.text-center What Is This?
          p
            | Do you ever get sick of the shitty song selection at your local
            | karaoke bar?
          p
            | Do you love getting a private karaoke booth with your friends, but
            | hate leaving the house?
          p
            | Have you ever been weirded out by pop songs with weird Korean music videos?
          p
            | Infinite Karaoke solves all of your problems. Now you can sing any
            | song your heart desires, set to official-ish music videos, forever.
        .col-md-6
          h3.text-center How Does It Work?
          p
            | Infinite Karaoke combines time-synced lyrics from the Internet, with
            | videos from the Internet.
          p
            | Yeah, the Internet is pretty awesome, eh?
          p
            | Infinite Karaoke magically finds the right lyrics and videos for you.
            | If you're trying a song that's never been played before, you can help
            | out the karaoke community by adjusting the lyrics.
          p
            | Tracks that have been verified by the community have
            | <i class="fa fa-star"></i>s by them!





    div(ng-show="DEBUG")
      h3 Some debug stuff goes here.
      p userAddedTrackId: {{userAddedTrackId}}