.container
    .row
        .col-sm-2.col-md-3
        .col-sm-8.col-md-6
          youtube-video#onlyvid(video-id='code')
          .lyricbox(ng-class="toplyric.cssclass")
            h3.lyric {{toplyric.text}}
          .lyricbox(ng-class="bottomlyric.cssclass")
            h3.lyric {{bottomlyric.text}}
        .col-sm-2.col-md-3