.container
  .row
    .col-sm-1.col-md-2
    .col-sm-10.col-md-8
      youtube-video#onlyvid(video-id='code')

      .lyricbox
        div(ng-repeat="lyric in lyrics")
          lyric(action="lyric.action")
            h3 {{lyric.line}}

    .col-sm-10.col-md-2