.container
    .row
        .col-sm-2.col-md-3
        .col-sm-8.col-md-6
          youtube-video#onlyvid(video-id='code')


          div(ng-repeat="lyric in lyrics")
            lyric(action="lyric.action" style="position: absolute;")
              h3 {{lyric.line}}


        .col-sm-2.col-md-3