extends layout

block content
  div(ng-controller="PlayCtrl" ng-init="trackid= #{JSON.stringify(trackid)}")
    p Hello from youtube.jade!

    p Track ID: {{trackid}}
    p Track info: TODO

    h3 DEBUG
    p Track data from controller: {{trackData}}


    youtuber(code='code' trackid='trackid')
