extends layout

block content
  div(ng-controller="PlayCtrl" ng-init="trackid= #{JSON.stringify(trackid)}")

    youtube-video(id="onlyvid" video-id="code")
    h3 {{currentLyric}}
    //-youtuber(code='code' trackid='trackid')

    p Track ID: {{trackid}}
    p Track info: TODO

    h3 DEBUG
    p Track data from controller: {{trackData}}

